@import "tailwindcss";
/* @tailwind base;
@tailwind components;
@tailwind utilities; */

/* .lg-nav {
  @apply p-4 hidden md:flex flex-row justify-between font-bold;
} */

* {
  scroll-behavior: smooth;
}

.hover-transition {
  @apply transition ease-in-out duration-500;
}

.my-border-white {
  border: 2px solid white;
  border-color: white;
}

.body-margin {
  @apply px-4 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8;
}

.content {
  @apply flex flex-col gap-16;
}

.my-border {
  border: 1px solid #424242;
}
